%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover.url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span= "Rating: #{@video.averge_rating}/5.0"
        %p= @video.description
        .actions
          = link_to "Watch Now", @video.url, class: "btn btn-primary"
          - unless video_is_in_my_queue 
            = link_to "+ My Queue", queues_path(id: @video.id), method: "post", class: "btn btn-default"

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      =render 'reviews/rating' 
      %header
        %h3= "User Reviews (#{@video.reviews.count})"
      %ul
        = render @video.reviews
